<form action='/bookmarks/new' method='post'>
    <p><label for='title'> Title:</label></p>
    <p><input type='text' name='title'></p>
    <p><label for='url'> URL:</label></p>
    <p><input type='text' name='url'></p>
    <input type='submit' value='Submit'>
</form>
